{% extends "base.html" %}

{% block title %}
Больше информации о породах кошек
{% endblock %}
{% block content %}
<div class = "head">
  <h1>Немного информации о породах кошек</h1>
</div>
<h2>Бенгальская кошка</h2>
    <p><img src="bengal.jpg" alt="" width="400" class="leftimg"></p>
    <p>Характер бенгальских кошек объединяет темпераменты дикого зверя и домашнего животного. У бенгалов хорошо развит охотничий инстинкт. В любом возрасте они признают игры «на охоту» — гонки за мячами и игрушками, ловлю махалок, погони и преследования. Хорошо живут в стае. Быстро дичают при вольерном содержании. При воспитании котят очень важно приучать их к рукам, иначе они могут вырасти диковатыми. Вопреки слухам, бенгалы не кровожадны и не агрессивны. Никакой опасности для детей и домашних животных (кроме грызунов и птиц) не представляют. С лёгкостью обучаются ловле мышей, но редко едят их.</p>
    <p> Тело: От среднего размера до крупного, мускулистое, растянутое, крепкое. Конечности средней длины, сильные и мускулистые. Лапы большие, круглые. Хвост средней длины, толстый, с округлым кончиком.</p>
    <p>Голова: Массивный череп, чуть больше в длину, чем в ширину, с округлыми контурами и мощной, широкой мордой. Профиль с лёгким переходом. Шея длинная, мощная.</p>
    <p>Уши: От небольшого до среднего размера, слегка наклоненные вперед, с округлыми кончиками, иногда диким пятном.</p>
    <p>Глаза: Большие, овальные. Поставлены широко, под небольшим углом. Допустим любой цвет, кроме голубого и аквамаринового, для снежного бенгала (сил-линкса) — только чистый интенсивный голубой.</p>
    <p>Шерсть: Короткая, густая, блестящая, шелковистая.</p>
    <p>Окрас: Отчётливый, контрастный чёрный или коричневый рисунок, пятнистый или особый мраморный (marbled) на золотисто-оранжевом фоне. </p>
<h2>Саванна</h2>
<p><img src="savanna.jpg" alt="" width="300"class="rightimg"></p>
    <p>Представители этой породы сдержанны, независимы и самодостаточны. Им нравится находиться в компании хозяина, если обстановка не предполагает высокой активности. Из этих кошек получаются отличные компаньоны. Сдержанно относятся к открытым пространствам, предпочитают знакомые помещения. Как и другим представителям кошачьих, этим животным нужен постоянный доступ к еде, воде и лотку. Лежанку для кошки лучше разместить повыше — в месте, где животное будет чувствовать себя в безопасности.</p>
    <p>Саванна является крупной кошкой. Её рост в холке достигает 60 см, а вес доходит до 15 кг. Отличительные особенности саванны — продолговатое тело, вытянутая шея, длинные лапы, большие округлые уши и густая пятнистая шерсть. Саваннам нужно около 3 лет, чтобы достичь своего максимального размера. Окрасы у породы: бурый, шоколадный, серебристый, золотистый или циннамон тэбби.</p>
    <p>Глаза: достаточно крупные, округлые, широко расставленные, с желтоватой, золотистой радужкой, зеленоватой радужкой. Уши: широко расставленные, достаточно крупные, опушенные по внутреннему краю, с закругленными кончиками.</p>
    <p><img src="savanna1.jpg" alt="" width="400">
<h2>Сервал</h2>
    <p><img src="serval.jpg" alt="" width="350" class="leftimg"></p>
    <p>Одомашненный африканский сервал прекрасно живет как в частном доме, так и в обычной квартире. Чтобы завоевать любовь такого котенка, важно быть внимательным и ласковым. Также этот хищник прекрасно дружит с другими питомцами – собаками и кошками. А вот птиц и грызунов рядом с диким котом лучше не селить, так как они для него являются добычей.</p>
    <p>Не стоит покупать сервала, если в доме есть маленькие дети. Неосторожное обращение с котом может причинить ему боль, на которую он отреагирует с агрессией.</p>
    <p>Грациозный хищник обладает крупным туловищем, маленькой головой, большими несуразными ушами и миндалевидными светлыми глазами. Широкий нос сервала делает его похожим на гепарда. Из-за пары черных полос на мордочке кажется, что у кота всегда грустный вид.</p>
    <p> Длина тела сервала - 60-100 сантиметров, вес - в пределах 10-18 килограммов.</p>
    <p>Сервал является объектом промысла, так как его шкура идёт на меховые изделия; он также ценится в некоторых районах Африки из-за своего мяса. Истребляют его также из-за нападений на домашнюю птицу. Вследствие этого в густонаселённых районах Африки численность сервалов заметно упала. Северный подвид сервала занесён в Красную Книгу МСОП со статусом «вид, находящийся под угрозой»</p>
    <p>Хищник считается одним из самых редких домашних любимцев. В питомниках сервалов цена уже много лет продолжает оставаться высокой.Стоимость таких животных достигает 500 тысяч рублей, - рассказала РИА Новости эксперт международной категории по всем породам Всемирной федерации кошек Людмила Сапункова.
    Средняя продолжительность жизни сервалов в неволе – примерно 20 лет. В естественной среде – 10.</p>

<h2>Тойгер</h2>
    <p><img src="toyger.jpg" alt="" width="400" class="rightimg"></p>
    <p>Стандарт породы описывает окрас кошки как чёткие тёмные полосы на коричневом фоне на спине, животе, груди, ногах и хвосте. Полосы на корпусе должны быть вертикальными, продольные полосы запрещены. Мех должен быть плюшевым, желательны баки по сторонам морды. Уши предпочтительны закруглённые, глаза небольшие и слегка прикрытые нависающими веками.</p>
    <p> Внешность бывает обманчива, и это как раз случай тойгеров. За грозным и даже диким обликом скрывается нежный и ласковый домашний питомец.

Это невероятно спокойная и уравновешенная порода. Тойгеры не носятся по дому, а предпочитают передвигаться размеренно, как и подобает тиграм (пусть и очень маленьким). Это дружелюбные кошки с легким и незлопамятным характером. Они отлично ладят с маленькими детьми, прекрасно уживаются с другими животными. Для них не свойственно делать что-либо назло хозяину или в отместку.

Тойгеры отличаются незаурядным умом. Они поддаются дрессировке, легко осваивают не только стандартные команды, но и разные трюки. Представители этой породы быстро учатся и запоминают правила поведения, которые им диктует хозяин. Поэтому такие вопросы, как приучение котенка к лотку или когтеточке, не составят труда для хозяина.</p>

<div class = "more_inf">
    <p><a href="http://127.0.0.1:5000">На главную страницу</a></p>
</div>
{% endblock %}