.head {
    border: 2px #eee solid;
    color: black;
    text-align: center;
    padding: 10px;
    background-color: #999;
}
.images{
    display: block;
    margin-left: 450px;
}
.leftimg {
    float:left;
    margin: 7px 7px 7px 10px;
   }
.rightimg  {
    float: right;
    margin: 7px 20px 7px 7px;
}
.more_inf {
    margin: 10px 200px 0px 600px;
}
.answer_head{
    border: 2px #eee solid;
    color: black;
    text-align: center;
    padding: 10px;
    background-color: #999;
}
.send{

    margin-left: 600px;

}
